[Unit]
Description=Linux Security Dashboard UI
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=booboo
WorkingDirectory=/home/booboo/linux-security-dashboard
ExecStart=/usr/bin/python3 /home/booboo/linux-security-dashboard/security_dashboard.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

